/* Gallery Page */
.glry #intro {
    width : 30%;
    min-height : 100%;
    float: left;
}
.glry #gallery {
    background : #454545;
    width : 70%;
    min-height : 100%;
    float: left;
}
#albums {
    background : #454545;
    width : 100%;
    min-height: 100%;
}

#gallery .demo {
    width : 70%;
    max-width: 768px;
    margin: 0 auto;
    padding : 2em 0;
}

#albums .demo {
    display: table;
    min-width: 1000px;
    max-width: 1200px;
    margin: 0 auto;
    padding : 2em 0;
}
#gallery .demo {
    margin-top : 96px;
}

#intro {
    padding : 8px 16px;
}
#intro h1 {
    font-weight: 100;
    font-size: 2.2857em;
}
#intro p {
    font-size : 1.2857em;
}

#albums .intro {
    position: absolute;
    top : 0;
    left : 0;
    z-index: 1;
    background : rgba(0,0,0,.5);
    color : #FFF;
    width : 100%;
    height : 100%;
}
#albums .intro:hover {
    background : rgba(0,0,0,.6);
}
#albums .intro > section {
    padding : 2em;
    width : 100%;
    height: 100%;
    white-space: normal;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#albums .intro .ttl {
    font-family: 'Exo 2', Helvetica, Arial, sans-serif;
    font-size: 1.42857em;
    font-weight: 300;
    position: relative;
    margin: 0;
    top : 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}
.diamonds {
    text-align: center;
    overflow: visible;
    white-space: nowrap;
    display: inline-block;
}

.diamond-row-wrap {
    text-align: center;
    position: relative;
    float: left;
    clear: both;
}
.diamond-row-upper, .diamond-row-lower {
    overflow: visible;
    clear: both;
    width: 100%;
}
.diamond-row-lower {
    position: absolute;
    bottom: 0;
}
.diamond-row-lower .diamond-box {
    margin-left: 64.644660941%; /* 0.5 + 1 / sqrt(2) / 2 */
    margin-top: 64.644660941%;
    position: relative;
}

.diamond-box-wrap {
    float: left;
    width: 250px; /* Size of diamonds */
    height: 250px;
}

.diamond-box {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

    overflow: hidden;

    position: relative;
    z-index: 1;

    width: 70.710678118%; /* x = sqrt(x^2 / 2) = 1 / sqrt(2) = 0.70710678118 */
    height: 70.710678118%;
    margin: 14.644660941%;

    border: 1px solid transparent;
}

.diamond-box-inner {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);

    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

    width: 141.421356237%; /* sqrt(2) */
    height: 141.421356237%;
    margin: -20.7106781185% 0 0 -20.7106781185%; /* (1 - sqrt(2)) / 2 */
}
.diamond-box-inner img {
    width : 100%;
    height : 100%;
}
.diamond-box-inner:hover {
    transform: rotate(-45deg) scale(1.05);
    -webkit-transform: rotate(-45deg) scale(1.05);
    transition : all .15s ease-out;
    -webkit-transition : all .15s ease-out;
}

@media (max-width : 767px) {
    #ad-mnu {
        width : 100% !important;
    }
    #ad-mnu section {
        transform: scale(.75);
        top : 5%;
    }
    .glry #intro{
        width: 100% !important;
        min-height: 18% !important;
    }
    #gallery{
        width: 100% !important;
    }
    .demo{
        margin: 0 !important;
    }
    #intro p{
        display: none !important;
    }
    #intro h1{
        width: 66% !important;
    }
    #main-mnu{
        position: absolute !important;
    }
    
}